body{
	background: #f5f1ed;	
}
.header{
	width: auto;
	background: #454545; 
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 136, 17);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}


.Text{

}

.whoarethey{

}


#page{
	background-color: #ffffff;
	position: relative;
	width: 1280px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #454545;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #454545;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #454545;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:: #454545;
}

#content{
	float: left;
	margin-top: 20px;
	margin-right: 19px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 136, 17);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255, 136, 17);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(255, 136, 17);
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:rgb(255, 136, 17);
	width: 940px;
	position: relative;

}

#socialNetwork{
	display: block;
	position: relative;
	width: 300px;
	margin-left: 980px;
	height: auto;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:: #454545;
}
